@tailwind base;
@tailwind components;
@tailwind utilities;

.hidden-up {
  opacity: 0;
  transform: translateY(-200px);
  transition: all 0.7s ease-in-out;
}

.hidden-right {
  opacity: 0;
  transform: translateX(200px);
  transition: all 0.7s ease-in-out;
}

.hidden-bottom {
  opacity: 0;
  transform: translateY(200px);
  transition: all 0.7s ease-in-out;
}

.hidden-left {
  opacity: 0;
  transform: translateX(-200px);
  transition: all 0.7s ease-in-out;
}

.show {
  opacity: 1;
  transform: translateX(0);
}
